.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-direction: row;

}

.main-content.content {
  height: 40rem;
  font-size: 20px;
  color:#0DB8DE ;
}