* {

}

body {
  background-color: #222D32 !important; ;
  font-family: 'Roboto', sans-serif;
}

.login-box {
  margin-top: 75px !important;
  height: auto;
  background: #1A2226;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)  ;
}

.modal-content {
  background-color: #222D32 !important;
}

.modal-header {
  color: #0692db;
  border-bottom: 1px solid #0692db !important;
}

.MuiButton-secondary {
  color: #FFFFFF !important;
}

.close {
  color: #0692db !important;
}

.modal-body {
  color: #FFFFFF;

}


.login-title {
  text-align: center ;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
  color: #0692db;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

input[type=text] {
  background-color: #1A2226 !important;
  border: none;
  border-bottom: 2px solid #0692db ;
  border-top: 0px ;
  border-radius: 0px ;
  font-weight: bold ;
  outline: 0 !important;
  margin-bottom: 20px ;
  padding-left: 0px ;
  color: #ECF0F5 !important;
}

input[type=password] {
  background-color: #1A2226 !important;
  border: none ;
  border-bottom: 2px solid #0692db ;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0 !important;
  padding-left: 0px;
  margin-bottom: 20px;
  color: #ECF0F5 !important;
}

.form-group {
  margin-bottom: 40px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #0692db;
  outline: 0;
  background-color: #1A2226;
  color: #222D32;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 10px;
  color: #6C6C6C;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: #0692db;
  color: #0692db;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
  background-color: #0692db;
  right: 0px;
  color: #FFFFFF ;
  cursor: pointer;
}

.login-btm {
  float: left;
}

.login-button {
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
  margin-bottom: 25px;
}


.login-text {
  text-align: left;
  padding-left: 0px;
  color: #A2A4A4;
}

.loginbttm {
  padding: 0px;
  float: left;
}